<%- layout ('main.ejs') %>
<div class="card-deck mt-4">
    <div class="card">
        <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/09/06/parque-nacional-del-teide-espana_3b9a5ff7_1500x1000.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/09/06/balcones-de-ordesa-parque-nacional-de-ordesa-y-monte-perdido-espana_159ca18c_1500x1000.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/08/27/2013-08-11-northcape-sunset__1000x727.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    
</div>
<div class="card-deck mt-4">
        <div class="card">
            <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/09/06/parque-nacional-del-teide-espana_3b9a5ff7_1500x1000.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/09/06/balcones-de-ordesa-parque-nacional-de-ordesa-y-monte-perdido-espana_159ca18c_1500x1000.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.nationalgeographic.com.es/medio/2018/08/27/2013-08-11-northcape-sunset__1000x727.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        
    </div>
